{% extends 'blog/base.html' %}


{% load static %}
{% load widget_tweaks %}



{% block 'content' %}


<div class="container-fluid">

  <div class="row">
    {% if form.errors %}
    {{form.errors}}
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <!-- <p>Please login to see this page.</p> -->
    {% endif %}
  {% endif %}

  </div>

  <div class="card mx-5 my-4 shadow">
    <div class="card-body">

      <h2 class="text-center mb-0">Login</h2>
      <div class="row no-gutter mt-0">

        <div class="col-lg-6 col-md-12 col-sm-12 ">
    
          <img src="{% static 'images/landing.svg' %}" class="img-fluid"
                                         alt="Landing page image">
        </div>
    
        <div class="col-lg-6 col-md-12 col-sm-12 py-5 pr-5">
    
    
              <form method="post" action="{% url 'login' %}">
                {% include 'blog/form-layout.html '%}

                <input type="hidden" name="next" value="{{ next }}" />
              </form>
            
              {# Assumes you setup the password_reset view in your URLconf #}
              <p class="mt-4"><a href="{% url 'password_reset' %}">Lost password?</a></p>
                
    
          
      
       
        </div>
      </div>
      
    </div>
  </div>

  
</div>



{% endblock %}