{% extends 'blog/base.html' %}

{% block 'content' %}

<div class="container-fluid">

    <div class="row justify-content-center mt-3">
        <div class="col-lg-8">

             <!-- Custom rounded search bars with input group -->
        <form action="">
            <div class="p-1 bg-light rounded rounded-pill shadow mb-4">
              <div class="input-group ">
                <input autoComplete="off" list="autocompleteList" id="search" type="text" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                <div class="input-group-append">
                  <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            <div id="options"
              style="position: absolute; background-color: white; z-index: 99;" >
            </div>

          </form>
          <!-- End -->
        </div>
    </div>



    <h4 class="text-center mt-3 mb-5">{{title}}</h4>

    <div class="row">
        
        {% include 'blog/simple-post.html' %}


    </div>

   

    
</div>


{% endblock %}

{% block 'scripts' %}

<script>

  $(document).ready(function(){

    $.ajaxSetup({
            headers: {
                'X-CSRFToken': $('meta[name="csrf-token"]').attr('content')
            }
        });

    $("#search").blur(function(){

      setTimeout(function(){

        $("#options").html("");

      }, 1000)

    })


    $("#search").keyup(function(){

      // console.log($(this).val());
      let searchData = $(this).val()


      $.ajax({
      type: "POST",
      url: "{% url 'search' %}",
      dataType: "json",
      data: {'searchInput' : searchData} ,
      success:  function(data){

        $("#options").html("");

        if(data['posts'].length != 0){

          for (i=0; i<data['posts'].length; i++) {

            let post = data['posts'][i]['title']
            let url = "/posts/details/"+ data['posts'][i]['id']

            $("#options").append('<a class="btn btn-outline-dark border-0" href="'+url+'">'
              +post+'</a> <br><hr>')

          }

        }
          
      },
      error: function(data){
      }
    });



    })



  });


</script>


{% endblock %}