{% for post in posts %}

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card mt-2">

                <div class="card-body">

                    <p class="text-center text-secondary my-4"><i class="fa fa-picture-o fa-3x"></i></p>

                    <h4>{{post}}</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptas sunt velit beatae laudantium. Iusto cupiditate asperiores aliquid molestiae tenetur veniam beatae.</p>
                
                </div>
                
            </div>
        </div>

{% endfor %}