{% load static %}
<nav id="sidebar">
    <div class="sidebar-header">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <img src="{% static 'images/myTea.png' %}" class="img-fluid">

            </div>
        </div>
        
    </div>

    <ul class="list-unstyled components">
        
        <li>
            <a href="{% url 'dashboard' %}">
                <i class="fa fa-tachometer mr-3"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'categories' %}"><i class="fa fa-tags mr-3"></i>Categories</a>
        </li>
        
        <li>
            <a href="{% url 'posts' %}"><i class="fa fa-files-o mr-3"></i>Posts</a>
        </li>
        <li>
            <a href="{% url 'feedback' %}"><i class="fa fa-comments mr-3"></i>Feedback</a>
        </li>
        
    </ul>
</nav>