{% extends 'blog/admin/layouts/admin-base.html' %}

{% load widget_tweaks %}

{% block 'content' %}

<div class="container">

    <h3 class="mt-5 mb-3">Posts</h3>

    <div class="row justify-content-center">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <h5>Add new post</h5>
                    </div>
                </div>
                <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">

                        {% include 'blog/form-layout.html '%}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block 'scripts' %}

<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>

<script>

    CKEDITOR.replace('message')
    
</script>

{% endblock %}